{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Projika</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- header icons -->
  <link href="{% static 'assets/img/headericon.png' %}" rel="icon">
  <link href="{% static 'assets/img/headericon2.png' %}" rel="header-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

 
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/dashboard" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <!-- <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul>

        </li> -->
        {% if is_admin %}
        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">{{ notifications|length }}</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have {{ notifications|length }} new messages
              <!-- <a href="#"><span class="">l</span></a> -->
              <button class="badge rounded-pill bg-primary p-2 ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                View all
              </button>
            </li>
            {% if notifications|length > 0 %}
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                  <img src="{% static 'assets/img/ic_user_1.svg' %}" alt="" class="rounded-circle">
                <div onclick="showNotification({
                  'contractor': '{{ notifications.0.contractor }}',
                  'message': '{{ notifications.0.message }}',
                  'image': '{{ notifications.0.image }}',
                  'date': '{{ notifications.0.date }}',
                  'pdf': '{{ notifications.0.pdf }}'
                })">
                  <h4>{{ notifications.0.contractor }}</h4>
                  <p>{{ notifications.0.message }}</p>
                  {% if notifications.0.image %}
                  <p><img class="img_fluid" src="/media/{{ notifications.0.image }}"></p>
                  {% endif %}
                  <p class="small text-muted">{{ notifications.0.date }}</p>
                </div>
              </a>
            </li>
            {% endif %}
            {% if notifications|length > 1 %}
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                  <img src="{% static 'assets/img/ic_user_1.svg' %}" alt="" class="rounded-circle">
                <div onclick="showNotification({
                  'contractor': '{{ notifications.1.contractor }}',
                  'message': '{{ notifications.1.message }}',
                  'image': '{{ notifications.1.image }}',
                  'date': '{{ notifications.1.date }}',
                  'pdf': '{{ notifications.1.pdf }}'
                })">
                  <h4>{{ notifications.1.contractor }}</h4>
                  <p>{{ notifications.1.message }}</p>
                  {% if notifications.1.image %}
                  <p><img class="img_fluid" src="/media/{{ notifications.1.image }}"></p>
                  {% endif %}
                  <p class="small text-muted">{{ notifications.1.date }}</p>
                </div>
              </a>
            </li>
            {% endif %}

            <!-- <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li> -->

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->
        {% endif %}

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/ic_user_1.svg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.first_name }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.first_name }} {{ user.last_name }}</h6>
              <!-- <span>Web Designer</span> -->
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/user/profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <!-- <li>
              <a class="dropdown-item d-flex align-items-center" href="/user/profile">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li> -->
            <li>
              <hr class="dropdown-divider">
            </li>

            <!-- <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li> -->
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/auth/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
    {% if is_admin %}

      <li class="nav-item">
        <a class="nav-link " href="/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Projects</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        
         
          <li>
            <a href="/projects/view">
              <i class="bi bi-circle"></i><span>Ongoing Projects</span>
            </a>
          </li>
          <li>
            <a href="/project/add">
              <i class="bi bi-circle"></i><span>Add Project steps</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      {% endif %}


      <li class="nav-heading">Pages</li>
      {% if is_contractor %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="/user/profile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->
      {% endif %}
      

     
      {% if is_admin %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="/auth/signup">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->
      {% endif %}

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% if user.is_authenticated %} /auth/logout {% else %} /auth/login {% endif %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>{% if user.is_authenticated %} Logout {% else %} Login {% endif %}</span>
        </a>
      </li><!-- End Login Page Nav -->

    


    </ul>

  </aside><!-- End Sidebar-->

  {% block content %}

  {% endblock %}
    <!-- Modal -->
    <div class="modal fade" id="general_modal" tabindex="-1" aria-labelledby="general_modalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="general_modalLabel">Projika</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="general_modal_body">
    
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
    </div>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>2025</span></strong>. All Rights Reserved
    </div>
   



    
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Messages</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <ul class="list-group">
            <li class="list-group-item">
              <div>You have {{ notifications|length }} unread messages.</div>
            </li>
            {% for notification in notifications %}

            <li class="message-item d-flex flex-row align-items-center list-group-item" onclick="showNotification({
              'contractor': '{{ notification.contractor }}',
              'message': '{{ notification.message }}',
              'image': '{{ notification.image }}',
              'date': '{{ notifications.date }}',
              'pdf': '{{ notification.pdf }}'
            })">
                <img src="{% static 'assets/img/ic_user_1.svg' %}" width="45px" height="45px" alt="" class="rounded-circle">
                <div class="ms-2">
                  {{ notification.contractor }}
                </div>
            </li>
            {% empty %}
            <li class="list-group-item">
              <div>No new messages</div>
            </li>
            {% endfor %}
            
          </ul>
          
        </div>
        
      </div>
    </div>



  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
   <script>
    function showModal() {
        var reportModal = new bootstrap.Modal(document.getElementById("general_modal"));
        reportModal.show();
      }

      showNotification = function (message ={}) {
        const img_file = message.image != null && message.image.length > 0 ? `Image: <img src="/media/${message.image}" class="img_fluid" style='max-width: 250px;'>` : 'No Image';
        const pdf_file = message.pdf != null && message.pdf.length > 0  ? `<a href="/media/${message.pdf}" target="_blank">View PDF</a>` : 'No Document';
        const modal_html = `
        <div class='d-flex flex-column'>
          <p><span class='fw-bold'>Contractor:</span> ${message.contractor}</p>
          <p><span class='fw-bold'>Message:</span> ${message.message}</p>
          <p><span class='fw-bold'>Date:</span> ${message.date}</p>
          <p class='d-flex flex-column'><span class='fw-bold'>Files:</span> <span>${img_file}</span><span>${pdf_file}</span></p>
        </div>
        `;
        $('#general_modal_body').html(modal_html);

        showModal();
      }
   </script>
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>