{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <div class="container" style="max-width:1000px;">
  
   <div class="col-lg">
       
            <!-- <div class="d-flex justify-content-center py-4">
              <a href="/dashboard" class="logo d-flex align-items-center w-auto">
                <img src="{% static 'assets/img/logo.png' %}" alt="">
                
              </a>
            </div>       -->
      
    
            <div class="card-body">
            <h5 class="card-title">Project Name: Kapiti flats</h5>
            <h5 class="card-title">Project Milestone</h5>
            
            <form method="post" id="contractors-form" novalidate>
              {% csrf_token %}
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Project</label>
                <div class="col-sm-10">
                  <select class="form-select" name="project_id" id="project_id" aria-label="Default select example">
                  <option selected value="{{ project.project_id }}">{{ project.project_name }}</option>
                  </select>
                </div>
              </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Project Phase</label>
                <div class="col-sm-10">
                  <select class="form-select" name="phase_number" id="phase_number" aria-label="Default select example">
                  <option selected value="">...Select phase...</option>
                    {% for phase in phases %}
                    <option value="{{ phase.phase_number }}">{{ phase.phase_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="comment" class="col-sm-2 col-form-label">Comments</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="comment" id="comment" style="height: 100px"></textarea>
              </div>
            </div>
              <div class="row mb-3">
                <label for="image" class="col-sm-2 col-form-label">File Upload</label>
                <div class="col-sm-10">
                  <input class="form-control" name="image" type="file" id="image">
                </div>
              </div>
              

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit Form</button>
                </div>
              </div>

            </form>

          </div>


 
        </div>
  </div>
  </div>
  
</main>
<script src="{% static 'js/contractors.js' %}"></script>
{% endblock %}