{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <!--<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>-->
    </nav>
  </div>

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
        
          <!-- PROJECTS Card -->
        {% if projects|length > 0 %}
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <a href="/user/profile?u={{ projects.0.contractor_id }}">
              <div class="card-body">
                <h5 class="card-title">{{ projects.0.project_name }}<span><br>
                - {{ projects.0.contractor }}</span></h5>

                <div class="d-flex align-items-center">
                  
                  <div class="ps-3">
                    <h6>{{ projects.0.status }}%</h6>
                 </div>
                </div>
              </div>
              </a>

            </div>
          </div><!-- End projects Card -->
          {% endif %}
             <!-- PROJECTS Card -->
          {% if projects|length > 1 %}
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              
              <a href="/user/profile?u={{ projects.1.contractor_id }}">
              <div class="card-body">
                <h5 class="card-title">{{ projects.1.project_name }}<span><br>
                - {{ projects.1.contractor }}</span></h5>

                <div class="d-flex align-items-center">
                  
                  <div class="ps-3">
                    <h6>{{ projects.1.status }}%</h6>
                 </div>
                </div>
              </div>
              </a>

            </div>
          </div><!-- End projects Card -->
          {% endif %}
          {% if projects|length > 2 %}
           <!-- PROJECTS Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <a href="/user/profile?u={{ projects.2.contractor_id }}">
              <div class="card-body">
                <h5 class="card-title">{{ projects.2.project_name }}<span><br>
                - {{ projects.2.contractor }}</span></h5>

                <div class="d-flex align-items-center">
                  
                  <div class="ps-3">
                    <h6>{{ projects.2.status }}%</h6>
                 </div>
                </div>
              </div>
              </a>

            </div>
          </div><!-- End projects Card -->
        {% endif %}
          
 <!-- Recent Sales -->
 <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="filter">
                
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                
                  
              </div>

              <div class="card-body">
                <h5 class="card-title"><span>|</span> Recent Projects </h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Contractor</th>
                      <th scope="col">Proj Name</th>
                      <th scope="col">Progress</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if projects|length > 0 %}
                      {% for project in projects %}
                      <tr>
                        <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                        <td>{{ project.contractor }}</td>
                        <td><a href="/user/profile?u={{ project.contractor_id }}" class="text-primary">{{ project.project_name }}</a></td>
                        <td>{{ project.status }}%</td>
                        <td><span class="badge {% if project.status >= 100 %} bg-success {% else %} bg-warning {% endif %}">{% if project.status >= 100 %}complete {% else %} ongoing {% endif %}</span></td>
                      </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <div class="alert alert-success" role="alert">
                        No available projects!
                      </div>
                    </tr>
                    
                    {% endif %}
                  
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->
          <!-- Reports -->
          <div class="col-lg-12">
            <div class="card">

             

              <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bar Chart</h5>

            <!-- Bar Chart -->
            <div id="barChart"></div>

            <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#barChart"), {
                  series: [{
                    data: [40, 30, 50, 100, 70] // Progress in percentages
                  }],
                  chart: {
                    type: 'bar',
                    height: 350
                  },
                  plotOptions: {
                    bar: {
                      borderRadius: 4,
                      horizontal: true, // Horizontal bar chart
                    }
                  },
                  dataLabels: {
                    enabled: false
                  },
                  xaxis: {
                    categories: ['Wendanyi Bridge', 'Nyayo Road', 'KSukari Tarmaking', 'KU Gate', 'Ruiru Bridge'],
                    title: {
                      text: "Completion Progress (%)", // X-axis title
                      style: {
                        fontSize: '14px',
                        fontWeight: 'bold'
                      }
                    }
                  },
                  yaxis: {
                    title: {
                      text: "Projects", // Y-axis title
                      style: {
                        fontSize: '14px',
                        fontWeight: 'bold'
                      }
                    }
                  }
                }).render();
              });
            </script>
            
            <!-- End Bar Chart -->

          </div>
        </div>
      </div>

            </div>
          </div><!-- End Reports -->

       

       

        </div>
      </div><!-- End Left side columns -->

      </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->
{% endblock %}