{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Projika</title>
        <link rel="icon" type="image/x-icon" href="{% static  'indexassets/favicon.ico' %}" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap" rel="stylesheet" />
        <link href="{% static  'indexcss/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
       
        <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="{% static  'indexassets/mp4/bg.mp4' %}" type="video/mp4" /></video>
       
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container-fluid px-4 px-lg-0">
                    <h2 class="fst-italic lh-1 mb-4">Welcome To Projika.</h2>
                    <p class="mb-5">Stay on top of your projects with our intuitive Project Monitoring & Evaluation Management System. Get real-time insights, track progress, and ensure project success—all in one place.<br><br> Login below to begin!</p>
                   
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        
                        <div class="row input-group-newsletter">
                            <a href="/auth/login">
                            <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Login</button></div>
                            </a>
                        </div>
                        
                        <div class="invalid-feedback mt-2" data-sb-feedback="email:email">Email is not valid.</div>
                       
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                    </form>
                </div>
            </div>
        </div>
      
        <!-- <div class="social-icons">
            <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
                <a class="btn btn-dark m-3" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark m-3" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark m-3" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div> -->
       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      
        <script src="{% static  'indexjs/scripts.js' %}"></script>
      
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
