{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Projects Data</h1>
    <nav>
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Data</li> -->
      </ol>
    </nav>
  </div><!-- End Page Title -->
  
  <section class="section">
    <style>
      body {
          background-color: #f8f9fa;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
      }
      .card {
          width: 1100%;
          max-width: 1100px;
          padding: 25px;
          border-radius: 10px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          background: #fff;
      }
      .filters {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          margin-top: 20px;
      }
      .form-group {
          flex: 1;
          min-width: 250px;
      }
      .btn-container {
          display: flex;
          justify-content: center;
          gap: 15px;
          margin-top: 20px;
      }
  </style>
    <div class="row">
      
      <div class="col-lg-12">
        
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ALL PROJECTS</h5>
            <div class="filters d-flex flex-row justify-content-center w-100 align-items-center">
              <div class="form-group">
                <label for="input-deadline">Select deadline</label>
                <input type="date" class="form-control" name="input-deadline" id="input-deadline">
              </div>
              <div class="form-group">
                <label for="input-status">Select status</label>
                <select  class="form-control" name="input-status" id="input-status">
                  <option value="all">All</option>
                  <option value="completed">Completed</option>
                  <option value="ongoing">Ongoing</option>
                </select>
              </div>
              <button type="button" class="btn btn-primary" id="btn-filter-project">Apply</button>
              <button type="button" class="btn btn-primary" id="btn_download">Download PDF</button>

            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
            <!-- <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable. Check for <a href="https://fiduswriter.github.io/simple-datatables/demos/" target="_blank">more examples</a>.</p> -->

            <!-- Table with stripped rows -->
            <table class="table ">
              <thead>
                <tr>
                  <th>
                    Project ID
                  </th>
                  <th>Contractor</th>
                  <th>Project Name</th>
                  <th data-type="date" data-format="YYYY/DD/MM">Deadline</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody id="project_body">
                {% for project in projects %}
                <tr onclick='showDeleteDialog("{{ project.project_id }}")'>
                  <td>{{ project.project_id }}</td>
                  <td>{{ project.contractor }}</td>
                  <td>{{ project.project_name }}</td>
                  <td>{{ project.deadline }}</td>
                  <td>{{ project.status }}%</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main>
<script>
  $(document).ready(function(){
    $("#btn_download").click(function(){
      const url = buildUrl("/projects/report");
      console.log(url)
      if(!url){
        console.log("Empty url");
      }

      window.open(url, "_blank");
    })
    $("#btn-filter-project").click(async function(){
      const url = buildUrl("/projects/view");
      console.log(url)
      if(!url){
        console.log("Empty url");
      }

      var project_body = $("#project_body");
      try{
        project_body.html(`
        <div class="d-flex justify-content-center align-items-center">   
          <div id="spinner" class="spinner-border text-primary d-none ms-3" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
        </div>`)
        const response = await fetch(`${url}&filter=true`, {
          method: "GET"
        });

        const data = await response.json();

        if(response.ok){
          project_body.html("");
          const projects = data.projects;
          let html =  "";
          if(projects.length == 0){
            html += `<tr><td colspan="5">No projects available</td></td>`;
          }else{
            projects.forEach(project => {

            html += `<tr onclick='showDeleteDialog("${ project.project_id }")'>
                  <td>${ project.project_id }</td>
                  <td>${ project.contractor }</td>
                  <td>${ project.project_name }</td>
                  <td>${ project.deadline }</td>
                  <td>${ project.status }%</td>
                </tr>`;
          });
          }
          
          if(project_body){
            console.log("Project body available");
            project_body.html(html);
          }else{
            console.log("Project body not avaialble");
          }
        }else{
          project_body.html(data.error || "Something went wrong");
          alert(data.error || "Something went wrong");
        }

      }catch(error){
        project_body.html("Error occured while filtering projects.")
        alert("Error occured while filtering projects.")
        console.log(error)
      }
      
    });
    function buildUrl(url){
      const deadline = $("#input-deadline").val();
      const status = $("#input-status").val();
      let queryParams = [];

      if (deadline && deadline.length > 0) {
          queryParams.push(`deadline=${encodeURIComponent(deadline)}`);
      }
      if (status && status.length > 0) {
          queryParams.push(`status=${encodeURIComponent(status)}`);
      }

      if (queryParams.length === 0) {
          console.log('No filters selected');
          return;
      }

      let fullUrl = url + "?" + queryParams.join("&");
      console.log(fullUrl);  // Output the final URL

      return fullUrl;
    }
  });
  function showDeleteDialog(project_id){
    html = `
      <div>
        <p>Select an action below</p>
        <button class="btn btn-danger" onclick='deleteProject("${project_id}")'>Delete Project</button>
      </div>`;

      document.getElementById("general_modal_body").innerHTML = html;
      showModal();
  }
  async function deleteProject(project_id){
    try{
      if(!confirm("Are you sure you want to delete this poject")){
        return;
      }
      const response = await fetch(`/project/delete?id=${project_id}`,{
        method:"GET"
      });
      const data = await response.json();

      if (response.ok){
        document.getElementById("general_modal_body").innerHTML = `<div class="alert alert-success" roler="alert">${data.message}/div>`;
        showModal();
        location.reload()
      }else{
        document.getElementById("general_modal_body").innerHTML = `<div class="alert alert-danger" roler="alert">${data.message}</div>`;
        showModal();
      }
    }catch(error){
      console.log(error)
    }
  }
</script>
{% endblock %}